body {
  margin: auto;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav li {
  display: block;
}

nav a,
.navBtn {
  text-decoration: none;
  color: darkcyan;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 5px;
  font-size: 10px;
}

.form-error,
.validation {
  display: none;
  color: darkred;
  font-weight: 600;
}

.name {
  font-size: larger;
  color: darkolivegreen;
  text-decoration: underline;
}

.type,
.glass {
  font-size: large;
  color: teal;
}

.contactForm {
  font-size: 1.2em;
}

.contactForm,
.nameContainer {
  width: 50%;
  margin: 1rem;
  margin-left: 25%;
  padding: 1rem 1.5rem;
  background: lightgrey;
  border: 1px solid black;
  border-radius: 1rem;
}

.image {
  margin-top: -5em;
  height: 200px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.detailLink {
  text-decoration: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid teal;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: 50%;
  animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
